<!DOCTYPE html>
<html lang="pl"  xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pierwsza strona</title>

    <link th:href ="@{css/bootstrap.min.css}" rel="stylesheet">
    <link th:href ="@{css/style.css}" rel="stylesheet">
 
  </head>
  <body>
	<br>
	<h1>Wysyłanie danych za pomocą adnotacji GET</h1>
    <div class="container-fluid">
		<div class="row">
		<div class="col-md-8">

      <form metod="get" action="/someData">
         <div class="form-group">
    <label for="name">Wprowadź imię</label>
    <input type="text" class="form-control" id="name"  name="name" placeholder="Wprowadź imię">
  </div>
  <input type="submit">
  </form>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>

    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/scripts.js}"></script>
  </body>
</html>